body {
    background-color: #4682B4;
}

.nav {
    font-weight: 900;
    font-size: 250%;
    margin: 11px;
    margin-right: 10%px;
    display: flex;
    justify-content: ;
    flex-wrap: ;
}

.nav a {
    text-decoration: none;
    color: black;
}


.main-contents {
    max-width: 940px;
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.gallery {
    display: block; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto 300px;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
}


.gallery a {
    text-decoration: none;
    color:black;
    padding: 20px;
    margin: auto;
}

.gallery figure:hover {
    background-color: yellow;
}

.gallery-item {
    border: 50px double black;
    border-radius: 30px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-top: 30px;
    padding-bottom: 20px;
    min-width: min-content;
}


.article-headline {
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 90px;
}

.article-description {
    color: black;
}

footer {
    background-color: black;
    color: #4682B4;
    margin: 50px 50px 0px 50px;
    padding: 10px;
}

footer > ul > li {
    padding: 7px;
    font-size: x-large;
    font-weight: bold;
}
